/* Estilos para o Quiz */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.quiz-container {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #3498DB;
    color: #fff;
}

.options-container {
    display: flex;
    flex-direction: column; /* Alterando para coluna para os botões ficarem um abaixo do outro */
    align-items: center; /* Centralizando os botões verticalmente */
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Definindo a largura total da caixa */
    height: 60px;
    margin: 10px 0; /* Adicionando margem superior e inferior para separar os botões */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 18px;
    color: #fff;
    background-color: #3498DB;
    border: none;
}
